:root {

    --dark: black;
    --hover: #E2007C;
    --main: #FFABD9;
    --contrast:white;
    --secondary: #3A3A3A;
    --selected: #8b8b8b;
}
.body-after{
    background: var(--dark);
    /* display: none; */
    z-index: 5;
    width: 100%;
    overflow-y: hidden;
    cursor: url("../assets/img/finger.png"), default !important;
}
.demo-reel{
    /* max-width: 620px; */
    width: 57%;
    position: absolute;
    left: 37%;
    top: 61%;
    transform: translate(-50%, -50%);
    /* border-radius: 100px; */
    background-size: cover;
    z-index: -1;
}
.tv-wr{
    max-width: 1058px;
    width: 100%;
    /* height: 642px; */
    /* overflow: hidden; */
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
}
.tv{
    /* width: 100%; */
}
#pointer_tv{
    width: 290px;
    position: absolute;
    pointer-events: none;
}
.controls{
  width: 60%;
  height: 58%;
  position: absolute;
  left: 37%;
  top: 61%;
  transform: translate(-50%, -50%);
  opacity:0;
  z-index: -1;
  overflow:  hidden;
}
#play{
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.playing{
    opacity:0
}