:root {

    --dark: black;
    --hover: #E2007C;
    --main: #FFABD9;
    --contrast:white;
    --secondary: #3A3A3A;
    --selected: #8b8b8b;
}
.body-campaign{
    background: var(--dark);
    /* display: none; */
    z-index: 5;
    width: 100%;
    overflow-x: hidden;
}
.page-container{
    /* background: var(--dark); */
}
.campaign-wr{
    display: flex;
    padding-top: 70px!important;
    height: 100vh;
}
.campaign-content{
    width: 50%;
    margin-top: 6%;
    margin-right: 50px;
}
.pc-wr{
  min-width: 547px;
  width: 100%;
  position: relative;
  background: url("../assets/img/pc5.svg") no-repeat;
  background-position: center top;
  background-size: 100%;
  /* top: -5%; */
  /* right: -5%; */
  margin-right: -150px;
}
.pc{
    width: 100%;
    height: 100%;

    z-index: 7;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
}
.campaign-preview{
    width: 72%;
    height: 59%;
    position: relative;
    z-index: -1;
    left: 56px;
    background-size: cover;
    top: 50px;
    overflow: hidden;
    transform: skew(-4deg, 1deg);
}
.campaign-preview-link{
    z-index: 2;
    position: absolute;
    cursor: url("../assets/img/cursor_pointer.svg"), pointer;
    top: 0;
}
.bg{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: -2;

}
.campaign-info{
    margin-bottom: 40px;
}
.campaign-info-item{
    font-family: 'Avenir';
    font-size: 24px;
    color:var(--contrast);
    font-weight: 900;
    text-transform: uppercase;
    /* display: block; */
}
.campaign-info-item:nth-child(1){
    min-width: 133px;
    color: #e2007c;
}
.campaign-info-item:nth-child(2){
    /* margin-left: 10px; */
    /* float: right; */
}
.campaign-pair{
    max-width: 600px;
    overflow:hidden;
    margin-bottom:10px;
    display: flex;
    flex-direction: row;
}

.campaign-description{
    font-family: 'Avenir';
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--contrast);
    max-width: 600px;
    margin-bottom: 40px;
}
.campaign-button{
    background: var(--hover);
    padding: 0 50px;
    margin-top: 0;
}
.campaign-button:hover{
    background: var(--contrast);
    color: var(--dark);
}
.campaign-button-link{
    color: var(--contrast);
}
.campaign-video{
    width: 94%;
    /* height: 121%; */
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.campaign-button-link:hover{
    color: var(--dark);
}
.back-button{
    background: url("../assets/img/back2.svg") no-repeat;
    position: absolute;
    right: 6%;
    height: 67px;
    width: 163px;
    background-size: contain;
    bottom: 6%;
    border: none;
    outline: none;
    /* margin-top: 200px; */
}
/* .back-button:hover{
    width: 150px;
    height: 63px;
}
.back-button:hover .back-button-link{
  left:3px;
} */
.back-button-link{
    font-family: 'Conv_Anonymous_Pro_B';
    font-size: 20px;
    line-height: 30px;
    height: 53px;
    /* top: 1px; */
    color: black;
    text-align: left;
    width: 141px;
    background-color: #daceac;
    border-radius: 5px;
    border: 2px solid black;
    padding-left: 14px;
    left: 1px;
    box-sizing: border-box;
    padding-top: 9px;
    /* position: absolute; */
    background-image: url("../assets/img/arrow.svg");
    background-repeat: no-repeat;
    background-position: 80px center;
    background-size: 40px 40px;
}
.back-button-link:hover {
    width: 148px;
    height: 61px;
    top: 1;
    left:1;
    padding-top: 14px;    

}
@media screen and (max-width: 1450px){
    .campaign-preview{
        left: 6%;
        top: 43px;
    }
}
@media screen and (max-width: 1155px){
    .campaign-preview{
        top: 35px;
    }
}
@media screen and (max-width: 1142px){
    .pc-wr{

    }
    .campaign-preview{
        left: 30px;
        /* top: 42px; */
    } 
}

@media screen and (max-width: 980px){
    .campaign-wr{
        /* display: block; */
        height: initial;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .campaign-content{
        width: 100%;
    }
    .pc-wr{
        /* height: 900px; */
        height: 600px;
        max-width: 80%;
        /* margin-bottom: 2%; */
    }
    .campaign-preview{
        left: 5%;
        top: 30px;
    }
}
@media screen and (max-width: 820px){

    .pc-wr{
        /* height: 900px; */
        height: 500px;
        max-width: 80%;
        /* margin-bottom: 2%; */
    }

}
@media screen and (max-width: 415px){
    .pc-wr{
        height: 283px;
        width: 94%;
        min-width: 300px;
    }
    .campaign-content{
        max-width: 100%;
        width: 100%;
    }
    .campaign-info-item{
        font-size: 19px;
        line-height: 23px;

    }
    .campaign-preview{
        left: 12px;
        top: 16px;
    }
    .campaign-info-item:nth-child(1) {
        min-width: 106px;
    }
    .campaign-info{
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 320px){
    .pc-wr{
        margin-left: -19px;
    }
    .campaign-content{
        max-width: 100%;
        width: 100%;
    }
    .campaign-info-item{
        font-size: 19px;

    }
    .campaign-preview{
        left: 12px;
        top: 16px;
    }

    .campaign-pair{
        display: block;
    }
    .campaign-info-item{
        margin-bottom: 4px;
    }
}