:root {

    --dark: black;
    --hover: #E2007C;
    --main: #FFABD9;
    --contrast:white;
    --secondary: #3A3A3A;
    --selected: #8b8b8b;
}
.body-campaign{
    background: var(--dark);
    /* display: none; */
    z-index: 5;
    width: 100%;
    overflow-x: hidden;
}
.web-description{
    font-family: 'Avenir';
    color: var(--contrast);
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.web-projects{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.web-project{
    max-width: 460px;
    height: 460px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 360px;
    /* height: auto; */
    flex-grow: 1;
    cursor: url("../assets/img/cursor_pointer.svg") pointer;
}
.web-link-name{
    color: var(--contrast);
    font-family: 'Avenir';
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    opacity:0;
    transition: opacity 0.5s;
}
.web-project:hover {
    background:var(--hover)!important;
    background-blend-mode: initial!important;
    cursor: url("../assets/img/cursor_pointer.svg") pointer;
}
.web-project:hover .web-link-name {
    transition:0.1s;
    opacity:1;
    cursor: url("../assets/img/cursor_pointer.svg") pointer;
}
.gmt{
    background: url("../assets/img/gmt.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ballet{
    background: url("../assets/img/ballet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ukrspec{
    background: url("../assets/img/urkspec.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.body-after .button-wr{
    width: 177px;
    height: 200px;
}

@media screen and (max-width: 1480px){
    .web-descritption{
        margin-bottom: 85px;
    }
    .web-project{
    max-width: 300px;
    height: 300px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 350px;
    /* height: auto; */
    flex-grow: 1;
    cursor: url("../assets/img/cursor_pointer.svg") pointer;
    }
    .web-description{
        font-family: 'Avenir';
        color: var(--contrast);
        font-size: 27px;
        text-align: center;
        line-height: 34px;
        max-width: 675px;
        margin: 0 auto;
        margin-bottom: 51px;
    }
}
@media screen and (max-width: 1280px){
    .web-project{
        height: 300px;
    }
}
@media screen and (max-width: 1090px){
    .web-project{
        height: 280px;
    }
}
@media screen and (max-width: 890px){
    .web-projects{
        flex-wrap: wrap;
    }
    .web-project{
        height: 300px;
        max-width: 300px;
        flex-grow:1;
    }
    .web-container{
        position: relative;
    }
}

 /* IPHONE X*/
  @media screen and (max-width: 415px){
      .web-description {
        font-family: 'Avenir';
        color: var(--contrast);
        font-size: 20px;
        text-align: center;
        line-height: 26px;
        max-width: 750px;
        margin: 0 auto;
        margin-bottom: 58px;
    }
    .web-project{
        height: 250px;
        max-width: 250px;
        position: relative;
    }
    .web-link-name{
        opacity:1;
        z-index: 2;
    }
    .gmt{
        background: url("../assets/img/gmt.jpg"), rgb(0 0 0 / 56%);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
    .ballet{
        background: url("../assets/img/ballet.jpg"),  rgb(0 0 0 / 56%);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
    .ukrspec{
        background: url("../assets/img/urkspec.jpg"), rgb(0 0 0 / 56%);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

  }

    /* IPHONE 5*/
  @media screen and (max-width: 320px){

  }